
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
  	 
      <h1>About</h1>
      <br>
			<div class="home-header-panel">
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Enlargement_of_the_European_Union_77.gif" width="600" height="600" frameborder="0" allowfullscreen></img>
			</div>
  
      <br>
      <p>Over the past 60 years, the European Union has changed Europe: bringing peace to a continent destroyed by two world wars, it progressively integrated more member states and developed common policies. The EU is now a space where people as well as goods and services circulate freely across borders, where 24 languages are spoken officially, and where the motto is “united in diversity”.</p>
      <p>Correspondingly, the lives of Europeans have changed immensely from a generation to another.</p>
      <p>This project aims to answer the following questions: How could today’s European identity be defined? How has the EU changed the lives of Europeans? Let’s ask them! 
      If you are European, please submit a 2-3-minute story about you, your family, and the place you are from. Tell us about your relationship to the European Union and how it has affected you. </p>
      <p>We are seeking thoughtful and reflective submissions that go deeper than an everyday conversation. </p>
      
      <p>As you film your video, please keep the following guidelines in mind:</p>
      <ol>
        <li>Please tell us what makes you feel European and how you think the EU affected your life </li>
        <li>Be authentic</li>
        <li>Keep the story about you</li>
        <li>Do not hesitate to make historical references</li>
        <li>Your story could include memories of your country or your city, of key moments of EU history, memories related to your family, travels or personal experiences… 
        Be creative! </li>
      </ol>
      
      <p>You can record yourself on your phone or computer. The quality and art of your storytelling is less important than the emotion and meaning behind it. 
      We can’t wait to hear your stories!</p>

  </div>

</div>

