
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
  
    <h1>Contact</h1>
    <p>For any question you might have, or if you want to know more about the project, you can contact me via <a href="mailto:evabernard@gmail.com">email</a>.</p>

  </div>

</div>

